/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* //========================
//COLORS BEGINS 
//========================  */
/* //========================
//COLORS ENDS 
//========================  */
/* //========================
//FONT BEGINS 
//========================  */
/* //========================
//FONT ENDS 
//========================  */
/* //========================
//BREAKPOINTS BEGINS 
//========================  */
/* //========================
//BREAKPOINTS ENDS 
//========================  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*changing our font-size to 10px makes our life easier
now one rem is 10 px 
we are operating under the assume that the user is operating under the base 16px 
so 1rem=10px
*/
:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Fjalla One", sans-serif;
  line-height: 1.3;
  color: #5a2e13; }

.heading-primary {
  text-transform: uppercase; }

.testimonial {
  font-size: 1.5vw; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

.hpanel__heading {
  color: #5a2e13;
  font-weight: 300;
  text-align: center; }

.hpanel__projectname {
  font-size: 1.2rem; }

.contentrowcard__heading {
  font-size: 1.4rem;
  color: #5a2e13;
  font-weight: 300;
  text-align: center; }

.contentrowcard__projectname {
  font-size: 0.9rem;
  color: #5a2e13;
  font-weight: 300;
  text-align: center; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

/* Visually Debugging
* *:not(path):not(g) {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
}
*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  color: white;
  background-color: #5a2e13;
  box-shadow: 0 1rem 2rem rgba(25, 21, 25, 0.15); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(202, 150, 35, 0.2); }

.btn--basic {
  background-color: #ca9623;
  color: #5a2e13; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #5a2e13;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  color: white;
  background-color: #5a2e13;
  box-shadow: 0 1rem 2rem rgba(25, 21, 25, 0.15); }

.btn-text:active {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(25, 21, 25, 0.15); }

.hpanelbtn, .hpanelbtn:link, .hpanelbtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.hpanelbtn:hover {
  color: white;
  background-color: #5a2e13;
  box-shadow: 0 1rem 2rem rgba(25, 21, 25, 0.15); }

.hpanelbtn:active, .hpanelbtn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(202, 150, 35, 0.2); }

.hpanelbtn:not(:last-child) {
  margin-bottom: 0.5rem; }

.crcbtn {
  margin: 0.3rem; }
  .crcbtn, .crcbtn:link, .crcbtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 0.2px solid black;
    cursor: pointer; }
  .crcbtn:hover {
    color: white;
    background-color: #5a2e13;
    box-shadow: 0 1rem 2rem rgba(25, 21, 25, 0.15); }
  .crcbtn:active, .crcbtn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(202, 150, 35, 0.2); }
  .crcbtn:not(:last-child) {
    margin-bottom: 0.5rem; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit; }

.form {
  padding: 1.5rem;
  height: 100%;
  grid-column: aboutcol-start 1 / aboutcol-end 4; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    font-family: inherit;
    background-color: rgba(202, 150, 35, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(25, 21, 25, 0.1);
      border-bottom: 3px solid green; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
    .form__input::-webkit-input-placeholder {
      color: #5a2e13; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.list {
  list-style: none;
  margin: 0 auto; }
  .list li {
    font-size: 1.5rem; }
    .list li a {
      text-decoration: none;
      cursor: pointer; }

.bg-video {
  grid-column: full-start / full-end;
  grid-row: portfolio-start/portfolio-end;
  z-index: -20;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.grid__container {
  display: grid;
  /*
      We'll have at least 6 rows 
         Nav
         Head
         About Me
         Portfolio
         Contact
         Footer
    */
  grid-template-rows: [nav-start] 10vh [nav-end header-start] 90vh [header-end about-start] 100vh [about-end portfolio-start] 45vh [portfolio-end contact-start] 70vh [contact-end footer-start] 20vh [footer-end];
  grid-template-columns: [full-start] minmax(0, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(0, 1fr) [full-end]; }

.section-about {
  grid-column: full-start / full-end;
  grid-row: about-start/about-end;
  display: grid;
  padding: 1.5rem;
  grid-template-rows: [aboutrow-fullstart] repeat(1, [aboutrow-start] 100% [aboutrow-end]) [aboutrow-fullend];
  grid-template-columns: [aboutcol-fullstart] minmax(0, 1fr) repeat(4, [aboutcol-start] minmax(min-content, 20vw) [aboutcol-end]) minmax(0, 1fr) [aboutcol-fullend];
  background-image: linear-gradient(to right bottom, rgba(202, 150, 35, 0.8), rgba(226, 198, 70, 0.8)), url(../img/backimg7.jpg);
  background-size: cover; }

.about___img-box {
  max-height: 100%;
  padding: 1.25rem;
  grid-column: aboutcol-start 1 / aboutcol-end 1;
  grid-row: aboutrow-fullstart/ aboutrow-fullend;
  display: flex;
  align-items: center;
  justify-content: center; }

.about__shape {
  border-radius: 100px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 2px solid #5a2e13;
  /* -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */ }

.about__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.about__text-box {
  padding: 1.25rem;
  font-size: 3rem;
  grid-column: aboutcol-start 3 / aboutcol-end 4;
  grid-row: aboutrow-fullstart/ aboutrow-fullend;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.about__socialrow {
  text-align: center;
  padding: 0.5rem; }

.aboutsocial__item {
  display: inline-block; }

.aboutsocial__link {
  margin-right: 2rem; }
  .aboutsocial__link i {
    font-size: 6rem; }
  .aboutsocial__link:link, .aboutsocial__link:visited {
    font-size: 1.6rem;
    color: #5a2e13;
    display: inline-block;
    text-decoration: none;
    padding: 3px; }
  .aboutsocial__link:hover {
    color: white;
    background-color: #5a2e13;
    box-shadow: 0 1rem 2rem rgba(25, 21, 25, 0.15); }
  .aboutsocial__link:active {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(25, 21, 25, 0.15); }

.section-portfolio {
  grid-column: full-start / full-end;
  grid-row: portfolio-start/portfolio-end;
  display: grid;
  grid-template-rows: [textboxrow-start] minmax(min-content, 50vh) [textboxrow-start linkboxrow-start] min-content [linkboxrow-end];
  grid-template-columns: minmax(0, 0.2fr) [portfoliocontentcol-start] minmax(0, 1fr) [portfoliocontentcol-end] minmax(0, 0.2fr);
  overflow: hidden; }

.portfolio__text-box {
  grid-column: portfoliocontentcol-start/portfoliocontentcol-end;
  grid-row: textboxrow-start/textboxrow-end;
  padding: 1.25rem;
  z-index: 5; }

.portfolio_linkrow,
li {
  display: inline-block; }

.portfoliolinkbox__item {
  margin-right: 1rem; }

.portfolio___link-box {
  grid-column: portfoliocontentcol-start/portfoliocontentcol-end;
  grid-row: linkboxrow-start/linkboxrow-end;
  padding: 1.25rem;
  display: flex;
  justify-content: center; }

.portfoliotext__item {
  display: inline-block;
  margin-right: 20rem; }

.section-contact {
  grid-column: full-start / full-end;
  grid-row: contact-start/contact-end;
  display: grid;
  grid-template-rows: [aboutrow-fullstart] repeat(1, [aboutrow-start] minmax(min-content, 14rem) [aboutrow-end]) [aboutrow-fullend];
  grid-template-columns: [aboutcol-fullstart] minmax(0, 1fr) repeat(4, [aboutcol-start] minmax(min-content, 14rem) [aboutcol-end]) minmax(0, 1fr) [aboutcol-fullend];
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../img/backimg8.jpg);
  background-size: cover; }

.portfolio-grid__container {
  display: grid;
  /*
      We'll have at least  rows 
          Nav  / this will probably just contain a back button
          Content     10
          Footer //this will probably just contain a back to the top button
      */
  grid-template-rows: [nav-start] 8vh [nav-end contentrows-start] repeat(8, [row-start] minmax(min-content, 20vh) [row-end]) [contentrows-end footer-start] 10vh [footer-end];
  grid-template-columns: [full-start] minmax(0, 1fr) repeat(3, [col-start] minmax(min-content, 30vw) [col-end]) minmax(0, 1fr) [full-end]; }

.portfoliocontent-box {
  display: grid;
  grid-column: col-start 1 / col-end 3;
  grid-row: contentrows-start/contentrows-end; }

.contentrow {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem; }
  .contentrow__card {
    padding: 2rem;
    width: 90%;
    height: 90%;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ca9623;
    color: #5a2e13;
    border-radius: 2rem;
    margin-bottom: 1rem; }
    .contentrow__card:not(:last-child) {
      margin-right: 1rem; }

.contentrowcard__heading {
  font-size: 2rem; }

.contentrowcard__projectname {
  font-size: 2rem; }

.contentrowcard__projectechlist {
  font-size: 2rem; }

.contentrowcard__content {
  font-size: 2rem; }

.contentrowcard__linklist {
  font-size: 2rem; }

.contentrowcard__text-box {
  font-size: 2rem; }

.pp-grid__container {
  display: grid;
  grid-template-rows: [ppnav-start] 10vh [ppnav-end ppcontentrow-start] 143vh [ppcontentrow-end ppfooter-start] 20vh [ppfooter-end]; }

.project-content {
  grid-row: ppcontentrow-start/ppcontentrow-end;
  display: grid;
  grid-template-rows: [projectpanel-start] 80vh [projectpanel-end projectchallenge-start] 40vh [projectchallenge-end projectso-start] 40vh [projectso-end];
  grid-template-columns: [full-start] repeat(3, [col-start] minmax(min-content, 30vw) [col-end]) [full-end]; }

.projectchallenge {
  padding: 2rem;
  grid-row: projectchallenge-start/projectchallenge-end; }

.projectso {
  grid-row: projectso-start/projectso-end;
  display: grid;
  grid-template-columns: 50vw 50vw; }

.projectsolution {
  padding: 2rem; }

.projectoutcome {
  padding: 2rem; }

.ppcsocontent {
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem; }

.navigation {
  padding: 0.5rem;
  grid-column: full-start / full-end;
  grid-row: nav-start/nav-end;
  display: grid;
  grid-template-columns: 0.3fr [leftcol-start] min-content [leftcol-end] 1fr [middlecol-start] 20rem [middlecol-end] 1fr [rightcol-start] 50rem [rightcol-end] 0.3fr;
  background-color: transparent !important; }
  .navigation__logo-box {
    grid-column: leftcol-start / leftcol-end;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__centercontent-box {
    grid-column: middlecol-start / middlecol-end;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 0.8rem; }

#navigation__centercontent-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #5a2e13;
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: bold; }

#navimg {
  max-width: 3rem; }

.header {
  grid-column: full-start / full-end;
  grid-row: header-start/header-end;
  background-color: transparent; }

.hpanel {
  /*
  hpanel is divided into two rows 
  one for heading the other for content
  */
  display: grid;
  grid-template-rows: minmax(6rem, min-content) minmax(min-content, 1fr);
  padding: 1.3rem;
  background-color: transparent; }
  .hpanel__content {
    display: grid;
    grid-template-columns: minmax(0, 0.3fr) [mediabox-start] 60vh [mediabox-end textbox-start] 60vh [textbox-end] minmax(0, 0.3fr);
    grid-gap: 5rem;
    grid-template-rows: [row-start] 100% [row-end]; }
  .hpanel__media-box {
    grid-row: row-start/row-end;
    grid-column: mediabox-start/mediabox-end;
    overflow: hidden; }
  .hpanel__video {
    object-fit: cover;
    max-height: 100%; }
  .hpanel__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hpanel__text-box {
    padding: 0.3rem;
    grid-row: row-start/row-end;
    grid-column: textbox-start/textbox-end;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .hpanel__projecttechlist:not(:last-child) {
    margin-right: 0.5rem; }

.hpanelbtn i {
  margin-right: 0.5rem; }

.footer {
  padding: 2rem 0.5rem;
  grid-column: full-start / full-end;
  grid-row: footer-start/footer-end;
  display: grid;
  grid-template-rows: [ftoprow-start] 5vh [ftoprow-end fcenterrow-start] 5vh [fcenterrow-end fbottomrow-start] 5vh [fbottomrow-end]; }
  .footer__top {
    grid-row: ftoprow-start/ftoprow-end;
    padding: 0.5rem;
    display: flex;
    justify-content: center; }
  .footer__center {
    padding: 2rem;
    grid-row: fcenterrow-start/fcenterrow-end;
    display: grid;
    grid-template-columns: minmax(0, 3fr) [rightcol-start] 30rem [rightcol-end] minmax(0, 0.5fr); }
  .footer__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center; }
  .footer__bottom {
    grid-row: fbottomrow-start/fbottomrow-end;
    display: flex;
    justify-content: center;
    text-align: center; }

#footerimg {
  max-width: 3rem; }

.portfolionavigation {
  padding: 0.5rem;
  grid-column: full-start / full-end;
  grid-row: nav-start/nav-end;
  display: grid;
  grid-template-columns: 0.3fr [leftcol-start] min-content [leftcol-end] 1fr [middlecol-start] 20rem [middlecol-end] 1fr [rightcol-start] 30rem [rightcol-end] 0.3fr;
  background-color: transparent !important; }
  .portfolionavigation__logo-box {
    grid-column: leftcol-start / leftcol-end;
    display: flex;
    justify-content: center;
    align-items: center; }
  .portfolionavigation__centercontent-box {
    grid-column: middlecol-start / middlecol-end;
    display: flex;
    justify-content: center;
    align-items: center; }
  .portfolionavigation__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center; }
  .portfolionavigation__item {
    display: inline-block; }
    .portfolionavigation__item:not(:last-child) {
      margin-right: 0.8rem; }

#portfolionavigation__centercontent-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #5a2e13;
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: bold; }

#portfolionavimg {
  max-width: 3rem; }

.portfoliofooter {
  padding: 0.5rem;
  grid-column: full-start/full-end;
  grid-row: footer-start/footer-end;
  display: grid;
  grid-template-columns: [historybackcol-start] 20rem [historybackcol-end] 1fr [backtotopcol-start] 20rem [backtotopcol-end]; }
  .portfoliofooter__historybackcontent {
    grid-column: historybackcol-start/historybackcol-end; }
  .portfoliofooter__backtotopcontent {
    grid-column: backtotopcol-start/backtotopcol-end; }

.ppnavigation {
  grid-row: ppnav-start/ppnav-end;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.3fr [ppnavleftcol-start] min-content [ppnavleftcol-end] 1fr [ppnavmiddlecol-start] 20rem [ppnavmiddlecol-end] 1fr [ppnavrightcol-start] 30rem [ppnavrightcol-end] 0.3fr;
  background-color: transparent !important; }
  .ppnavigation__logo-box {
    grid-column: ppnavleftcol-start / ppnavleftcol-end;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ppnavigation__centercontent-box {
    grid-column: ppnavmiddlecol-start / ppnavmiddlecol-end;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ppnavigation__list-box {
    grid-column: ppnavrightcol-start / ppnavrightcol-end;
    display: flex;
    align-items: center; }
  .ppnavigation__item {
    display: inline-block; }
    .ppnavigation__item:not(:last-child) {
      margin-right: 0.8rem; }

.ppfooter {
  grid-row: ppfooter-start/ppfooter-end;
  padding: 0.5rem;
  grid-row: footer-start/footer-end;
  display: grid;
  grid-template-columns: [ppfoothistorybackcol-start] 20rem [ppfoothistorybackcol-end] 1fr [ppfootbacktotopcol-start] 20rem [ppfootbacktotopcol-end]; }
  .ppfooter__historybackcontent {
    grid-column: ppfoothistorybackcol-start/ppfoothistorybackcol-end; }
  .ppfooter__backtotopcontent {
    grid-column: ppfootbacktotopcol-start/ppfootbacktotopcol-end; }

.projectpanel {
  grid-row: projectpanel-start/projectpanel-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem; }
  .projectpanel__media video {
    height: 60vh;
    width: 60vw; }
  .projectpanel__media {
    margin: 1rem 0; }
  .projectpanel__link-box a:not(:last-child) {
    margin-right: 0.9rem; }
