*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*changing our font-size to 10px makes our life easier
now one rem is 10 px 
we are operating under the assume that the user is operating under the base 16px 
so 1rem=10px
*/
:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.grid__container {
  display: grid;
  /*
      We'll have at least 6 rows 
         Nav
         Head
         About Me
         Portfolio
         Contact
         Footer
    */
  grid-template-rows: [nav-start] 80vw [nav-end] [header-start] 80vw [header-end] [about-start] 40vw [about-end] [portfolio-start] 80vw [portfolio-end] [contact-start] min-content [contact-end] [footer-start] 80vw [footer-end];
  grid-template-columns: [full-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [full-end]; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 10rem; }

/* Visually Debugging
* *:not(path):not(g) {
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
    box-shadow: none !important;
}
*/
/* //========================
//COLORS BEGINS 
//========================  */
/* //========================
//COLORS ENDS 
//========================  */
/* //========================
//FONT BEGINS 
//========================  */
/* //========================
//FONT ENDS 
//========================  */
/* //========================
//BREAKPOINTS BEGINS 
//========================  */
/* //========================
//BREAKPOINTS ENDS 
//========================  */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--green {
  background-color: white;
  color: black; }
  .btn--green::after {
    background-color: blue; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.form {
  padding: 1.5rem;
  height: 100%;
  grid-column: aboutcol-start 1 / aboutcol-end 4; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #7ed56f; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #7ed56f; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem; }

.hpanel__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
  color: #fff; }

.list {
  list-style: none;
  margin: 0 auto; }
  .list li {
    font-size: 1.5rem; }
    .list li a {
      text-decoration: none;
      cursor: pointer; }

.section-about {
  background-color: pink;
  grid-column: full-start / full-end;
  grid-row: about-start/about-end;
  display: grid;
  padding: 1.5rem;
  grid-template-rows: [aboutrow-fullstart] repeat(1, [aboutrow-start] minmax(min-content, 14rem) [aboutrow-end]) [aboutrow-fullend];
  grid-template-columns: [aboutcol-fullstart] 1fr repeat(4, [aboutcol-start] minmax(min-content, 14rem) [aboutcol-end]) 1fr [aboutcol-fullend]; }

.about___img-box {
  padding: 1.25rem;
  grid-column: aboutcol-start 1 / aboutcol-end 1;
  grid-row: aboutrow-fullstart/ aboutrow-fullend; }

.about__shape {
  height: 15rem;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }

.about__img {
  height: 100%; }

.about__text-box {
  padding: 1.25rem;
  grid-column: aboutcol-start 3 / aboutcol-end 4;
  grid-row: aboutrow-fullstart/ aboutrow-fullend; }

.aboutsocial__item {
  display: inline-block; }

.section-portfolio {
  background-color: green;
  grid-column: full-start / full-end;
  grid-row: portfolio-start/portfolio-end;
  display: grid;
  grid-template-rows: [aboutrow-fullstart] repeat(1, [aboutrow-start] minmax(min-content, 14rem) [aboutrow-end]) [aboutrow-fullend];
  grid-template-columns: [aboutcol-fullstart] 1fr repeat(4, [aboutcol-start] minmax(min-content, 14rem) [aboutcol-end]) 1fr [aboutcol-fullend]; }

.portfolio___img-box {
  padding: 1.25rem;
  grid-column: aboutcol-start 3 / aboutcol-end 4;
  grid-row: aboutrow-fullstart/ aboutrow-fullend; }

.portfolio__shape {
  height: 15rem;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }

.portfolio__img {
  height: 100%; }

.portfolio__text-box {
  padding: 1.25rem;
  grid-column: aboutcol-start 1 / aboutcol-end 1;
  grid-row: aboutrow-fullstart/ aboutrow-fullend; }

.portfoliotext__item {
  display: inline-block; }

.section-contact {
  background-color: orange;
  grid-column: full-start / full-end;
  grid-row: contact-start/contact-end;
  display: grid;
  grid-template-rows: [aboutrow-fullstart] repeat(1, [aboutrow-start] minmax(min-content, 14rem) [aboutrow-end]) [aboutrow-fullend];
  grid-template-columns: [aboutcol-fullstart] 1fr repeat(4, [aboutcol-start] minmax(min-content, 14rem) [aboutcol-end]) 1fr [aboutcol-fullend]; }

.navigation {
  padding: 0.5rem;
  background-color: blue;
  grid-column: full-start / full-end;
  grid-row: nav-start/nav-end;
  display: grid;
  grid-template-columns: 1fr [leftcol-start] min-content [leftcol-end] 3fr [rightcol-start] 30rem [rightcol-end] 1fr; }
  .navigation__logo-box {
    grid-column: leftcol-start / leftcol-end;
    background-color: red; }
  .navigation__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center;
    background-color: green; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 0.8rem; }
  .navigation__link:link, .navigation__link:visited {
    color: black; }
  .navigation__link:hover, .navigation__link:active {
    color: blue; }

/*

  &__checkbox {
  }

  &__button {
  }

 
  &__nav {
  }

  &__list {
  }

  &__item {
  }

  */
.header {
  grid-column: full-start / full-end;
  grid-row: header-start/header-end;
  background-color: red; }

.hpanel {
  /*
  hpanel is divided into two rows 
  one for heading the other for content
  */
  background-color: yellow;
  display: grid;
  grid-template-rows: minmax(6rem, min-content) minmax(min-content, 1fr);
  padding: 5rem; }
  .hpanel__heading {
    font-size: 0.5rem; }
  .hpanel__projectname {
    font-size: 0.5rem; }
  .hpanel__content {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .hpanel__content-card {
      flex-grow: 0; }
  .hpanel__text-box {
    flex-grow: 2;
    text-align: center; }
  .hpanel__video-box {
    background-color: red;
    flex-grow: 1;
    height: 100%;
    width: 20vw;
    overflow: hidden;
    display: flex;
    align-items: center; }
  .hpanel__video {
    width: 100%;
    object-fit: cover; }

.footer {
  padding: 2rem 0.5rem;
  background-color: purple;
  grid-column: full-start / full-end;
  grid-row: footer-start/footer-end;
  display: grid;
  grid-template-rows: 5vh 5vh 5vh; }
  .footer__top {
    padding: 0.5rem;
    display: flex;
    justify-content: center; }
  .footer__center {
    display: grid;
    grid-template-columns: 3fr [rightcol-start] 30rem [rightcol-end] 0.5fr; }
  .footer__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center;
    background-color: green; }
  .footer__link:link, .footer__link:visited {
    color: black; }
  .footer__link:hover, .footer__link:active {
    color: blue; }
  .footer__bottom {
    display: flex;
    justify-content: center; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 0.2rem; }
  .footer__logo-box {
    grid-column: footerlogo-start/footer-logoend; }
