/* //========================
//COLORS BEGINS 
//========================  */
$color-primary: #3e333f;
$color-primary-light: #756177;
$color-primary-dark: #191519;

$color-secondary-light: #feb8b7;
$color-secondary-dark: #fc4442;

$color-tertiary-light: #f0e19e;
$color-tertiary-dark: #e2c646;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #898989;

$color-black: #191519;

/*
#E4C845
#CA9623
#7A5524
#382114
#75A093


*/

/* //========================
//COLORS ENDS 
//========================  */
/* //========================
//FONT BEGINS 
//========================  */
$default-font-size: 1.6rem;
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

/* //========================
//FONT ENDS 
//========================  */
/* //========================
//BREAKPOINTS BEGINS 
//========================  */
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

/* //========================
//BREAKPOINTS ENDS 
//========================  */
