/* //========================
//COLORS BEGINS 
//========================  */
$color-primary: #3e333f;
$color-primary-light: #756177;
$color-primary-dark: #191519;

$color-secondary-light: #5a2e13;
$color-secondary-dark: #ca9623;

$color-tertiary-light: #382114;
$color-tertiary-dark: #e2c646;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #898989;

$color-black: #191519;

$validation-valid: green;
$validation-invalid: red;

$dummy: #e4c845;
$dummy: #ca9623;
$dummy: #7a5524;
$dummy: #382114;
$dummy: #75a093;

$dummy: #573c1b;
$dummy: #3b281f;
$dummy: #655532;
$dummy: #aa8f50;
$dummy: #e0f2bd;

$dummy: #080505;
$dummy: #93745c;
$dummy: #f2d7a7;
$dummy: #ad5921;
$dummy: #842e0f;

$dummy: #7c725a;
$dummy: #d0bf8d;
$dummy: #8b7443;
$dummy: #624536;
$dummy: #e8f2da;

$dummy: #5a2e13;
$dummy: #fcedca;
$dummy: #a48d73;
$dummy: #927c5e;
$dummy: #8c876a;

$dummy: #090307;
$dummy: #efd1a4;
$dummy: #8c6c53;
$dummy: #b8600a;
$dummy: #953f0f;

/* //========================
//COLORS ENDS 
//========================  */
/* //========================
//FONT BEGINS 
//========================  */
$default-font-size: 1.6rem;
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

/* //========================
//FONT ENDS 
//========================  */
/* //========================
//BREAKPOINTS BEGINS 
//========================  */
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

/* //========================
//BREAKPOINTS ENDS 
//========================  */
