.footer {
  padding: 2rem 0.5rem;
  //  background-color: purple;
  grid-column: full-start / full-end;
  grid-row: footer-start/footer-end;
  display: grid;
  grid-template-rows: 5vh 5vh 5vh;

  &__top {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }

  &__center {
    display: grid;
    grid-template-columns: 3fr [rightcol-start] 30rem [rightcol-end] 0.5fr;
  }

  &__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center;
    //  background-color: green;
  }

  &__logo-box {
    grid-column: footerlogo-start/footer-logoend;
  }
}
