.header {
  grid-column: full-start / full-end;
  grid-row: header-start/header-end;

  background-color: red;
}

.hpanel {
  //components that will in the future each be used on a carousel
  /*
  hpanel is divided into two rows 
  one for heading the other for content
  */
  background-color: yellow;
  display: grid;
  grid-template-rows: minmax(6rem, min-content) minmax(min-content, 1fr);
  padding: 5rem;
  //---hpanel first row begins-------------------------------------------
  &__heading {
    font-size: 0.5rem;
  }

  &__projectname {
    font-size: 0.5rem;
  }
  //---hpanel first row ends-------------------------------------------
  //---hpanel content begins-------------------------------------------
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-card {
      flex-grow: 0;
    }
  }

  &__text-box {
    flex-grow: 2;
    text-align: center;
  }

  &__video-box {
    background-color: red;
    flex-grow: 1;
    height: 100%;
    width: 20vw;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  &__video {
    width: 100%;
    object-fit: cover;
  }

  //---hpanel content ends-------------------------------------------
}
