.header {
  grid-column: full-start / full-end;
  grid-row: header-start/header-end;
  background-color: red;
}

.hpanel {
  //components that will in the future each be used on a carousel
  /*
  hpanel is divided into two rows 
  one for heading the other for content
  */
  background-color: yellow;
  display: grid;
  grid-template-rows: minmax(6rem, min-content) minmax(min-content, 1fr);
  padding: 1.3rem;
  //---hpanel first row begins-------------------------------------------

  //---hpanel first row ends-------------------------------------------
  //---hpanel content begins-------------------------------------------
  &__content {
    display: grid;
    grid-template-columns: 30vw 1fr;
  }

  &__text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__video-box {
    background-color: red;
    overflow: hidden;
  }
  &__video {
    object-fit: cover;
    max-height: 40vh;
    object-fit: cover;
  }

  //---hpanel content ends-------------------------------------------
}
