.header {
  grid-column: full-start / full-end;
  grid-row: header-start/header-end;
  //  background-color: red;
  background-color: transparent;
}

.hpanel {
  //components that will in the future each be used on a carousel
  /*
  hpanel is divided into two rows 
  one for heading the other for content
  */
  // background-color: yellow;
  display: grid;
  grid-template-rows: minmax(6rem, min-content) minmax(min-content, 1fr);
  padding: 1.3rem;
  //---hpanel first row begins-------------------------------------------

  //---hpanel first row ends-------------------------------------------
  //---hpanel content begins-------------------------------------------
  &__content {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-gap: 5rem;
    grid-template-rows: [row-start] 100% [row-end];
  }

  &__video-box {
    grid-row: row-start/row-end;
    //  background-color: red;
    overflow: hidden;
  }
  &__video {
    object-fit: cover;
    max-height: 40vh;
  }

  &__text-box {
    padding: 0.3rem;
    grid-row: row-start/row-end;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  background-color: transparent;
  //---hpanel content ends-------------------------------------------
}

.hpanel {
  &__heading {
  }

  &__projectname {
  }

  &__content {
  }

  &__content-card {
  }

  &__video-content {
  }

  &__details {
  }
}
