// ================================================
// NAVIGATION BEGINS
// ================================================
.navigation {
  padding: 0.5rem;
  //  background-color: blue;
  grid-column: full-start / full-end;
  grid-row: nav-start/nav-end;
  display: grid;
  grid-template-columns: 0.3fr [leftcol-start]min-content [leftcol-end] 1fr [middlecol-start] 20rem [middlecol-end] 1fr [rightcol-start] 50rem [rightcol-end] 0.3fr;

  &__logo-box {
    grid-column: leftcol-start / leftcol-end;
    display: flex;
    justify-content: center;
    align-items: center;
    //    background-color: red;
  }

  &__centercontent-box {
    grid-column: middlecol-start / middlecol-end;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center;
    //   background-color: green;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  background-color: transparent !important;
}

#navigation__centercontent-heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: $color-secondary-light;
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

#navimg {
  max-width: 3rem;
}
// ================================================
// NAVIGATION RESPONSIVE DEFINITION BEGINS
// ================================================
// NAVIGATION RSP TAB-LAND BEGINS----------------------------------
@include respond(tab-land) {
  .navigation {
    &__logo-box {
    }

    &__centercontent-box {
    }

    &__list-box {
    }

    &__item {
    }
  }

  #navigation__centercontent-heading {
  }

  #navimg {
  }
}
// NAVIGATION RSP TAB-LAND ENDS----------------------------------
// NAVIGATION RSP TAB-PORT BEGINS----------------------------------

@include respond(tab-port) {
  .navigation {
    &__logo-box {
    }

    &__centercontent-box {
    }

    &__list-box {
    }

    &__item {
    }
  }

  #navigation__centercontent-heading {
  }

  #navimg {
  }
}
// NAVIGATION RSP TAB-PORT ENDS----------------------------------
// NAVIGATION RSP PHONE BEGINS----------------------------------

@include respond(phone) {
  .navigation {
    display: flex;
    flex-direction: row;

    &__logo-box {
      margin-right: 45vw;
    }

    &__centercontent-box {
    }

    &__list-box {
      display: none;
    }

    &__item {
    }
  }

  #navigation__centercontent-heading {
  }

  #navimg {
  }
}
// NAVIGATION RSP PHONE ENDS----------------------------------
// ================================================
// NAVIGATION RESPONSIVE DEFINITION ENDS
// ================================================
// ================================================
// NAVIGATION ENDS
// ================================================
