.navigation {
  padding: 0.5rem;
  //  background-color: blue;
  grid-column: full-start / full-end;
  grid-row: nav-start/nav-end;
  display: grid;
  grid-template-columns: 1fr [leftcol-start]min-content [leftcol-end] 3fr [rightcol-start] 30rem [rightcol-end] 1fr;

  &__logo-box {
    grid-column: leftcol-start / leftcol-end;
    //    background-color: red;
  }

  &__list-box {
    grid-column: rightcol-start / rightcol-end;
    display: flex;
    align-items: center;
    //   background-color: green;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  background-color: transparent !important;
}
