.portfoliofooter {
  padding: 0.5rem;
  grid-column: full-start/full-end;
  grid-row: footer-start/footer-end;
  display: grid;
  grid-template-columns: [historybackcol-start] 20rem [historybackcol-end] 1fr [backtotopcol-start] 20rem [backtotopcol-end];

  @include respond(tab-land) {
    // width < 1200?
    //
  }

  @include respond(tab-port) {
    // width < 900?
    //
  }

  @include respond(phone) {
    //
  }

  &__historybackcontent {
    grid-column: historybackcol-start/historybackcol-end;
  }

  &__backtotopcontent {
    grid-column: backtotopcol-start/backtotopcol-end;
  }
}
