.ppnavigation {
  grid-row: ppnav-start/ppnav-end;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 0.3fr [ppnavleftcol-start]min-content [ppnavleftcol-end] 1fr [ppnavmiddlecol-start] 20rem [ppnavmiddlecol-end] 1fr [ppnavrightcol-start] 30rem [ppnavrightcol-end] 0.3fr;

  &__logo-box {
    grid-column: ppnavleftcol-start / ppnavleftcol-end;
    display: flex;
    justify-content: center;
    align-items: center;
    //    background-color: red;
  }

  &__centercontent-box {
    grid-column: ppnavmiddlecol-start / ppnavmiddlecol-end;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-box {
    grid-column: ppnavrightcol-start / ppnavrightcol-end;
    display: flex;
    align-items: center;
    //   background-color: green;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  background-color: transparent !important;
}
