.bg-video {
  grid-column: full-start / full-end;
  grid-row: portfolio-start/portfolio-end;
  z-index: -20;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
