.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    color: white;
    background-color: $color-secondary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-secondary-dark, 0.2);
  }

  &--basic {
    background-color: $color-secondary-dark;
    color: $color-secondary-light;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-secondary-light;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    color: white;
    background-color: $color-secondary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  }
}

.hpanelbtn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    color: white;
    background-color: $color-secondary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-secondary-dark, 0.2);
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}



.crcbtn {
  margin: .3rem;
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: .2px solid black;
    cursor: pointer;
  }

  &:hover {
    color: white;
    background-color: $color-secondary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-secondary-dark, 0.2);
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
