mixin projectfooter(footerData)
footer.ppfooter
  .ppfooter__historybackcontent
    a.btn.btn--basic(href="./index.html")=Back Home i.far.fa-hand-point-left
  .ppfooter__backtotopcontent
    a.btn.btn--basic(href="#")=Back to The Top i.far.fa-hand-point-up
