mixin projectContent(pCData)
section.project-content
  .projectpanel 
    .projectpanel__heading
    .projectpanel__content
    .projectpanel__link-box
  .projectchallenge
  .projectsolution
  .projectoutcome