*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*changing our font-size to 10px makes our life easier
now one rem is 10 px 
we are operating under the assume that the user is operating under the base 16px 
so 1rem=10px
*/
:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.grid__container {
  display: grid;
  /*
      We'll have at least 6 rows 
         Nav
         Head
         About Me
         Portfolio
         Contact
         Footer
    */
  grid-template-rows: [nav-start]80vw[nav-end] [header-start] 80vw [header-end] [about-start] 40vw [about-end] [portfolio-start]80vw [portfolio-end] [contact-start]min-content [contact-end] [footer-start]80vw [footer-end];
  grid-template-columns:
    [full-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [full-end];
}
