body {
  font-family: "Fjalla One", sans-serif;
  line-height: 1.3;
  color: $color-primary;
}

.heading-primary {
  text-transform: uppercase;
}

.heading-secondary {
}

.heading-tertiary {
}

.paragraph {
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.hpanel__heading {
  color: black !important; //something is overriding my css settings with a white colour and I have tried really hard to identify it and can't I can't locate it in any of my scss which is why important is necessary
}

.hpanel__projectname {
  font-size: 1.2rem;
}
