.grid__container {
  display: grid;
  /*
      We'll have at least 6 rows 
         Nav
         Head
         About Me
         Portfolio
         Contact
         Footer
    */
  grid-template-rows: [nav-start]80vw[nav-end header-start] 80vw [header-end about-start] 30vw [about-end portfolio-start]80vw [portfolio-end contact-start]min-content [contact-end footer-start]80vw [footer-end];
  grid-template-columns:
    [full-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [full-end];
}

//ABOUT SECTION BEGINS----------------------------------
.section-about {
  // background-color: pink;
  grid-column: full-start / full-end;
  grid-row: about-start/about-end;
  display: grid;
  padding: 1.5rem;
  //6*6 grid
  grid-template-rows:
    [aboutrow-fullstart] repeat(
      1,
      [aboutrow-start] minmax(min-content, 14rem) [aboutrow-end]
    )
    [aboutrow-fullend];
  grid-template-columns:
    [aboutcol-fullstart] minmax(0, 1fr) repeat(
      4,
      [aboutcol-start] minmax(min-content, 14rem) [aboutcol-end]
    )
    minmax(0, 1fr)
    [aboutcol-fullend];

  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-dark, 0.8),
      rgba($color-tertiary-dark, 0.8)
    ),
    url(../img/backimg7.jpg);
  background-size: cover;
}

.about___img-box {
  padding: 1.25rem;
  grid-column: aboutcol-start 1 / aboutcol-end 1;
  grid-row: aboutrow-fullstart/ aboutrow-fullend;
}
.about__shape {
  height: 15rem;
  /*  
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);*/
}

.about__img {
  height: 100%;
  border-radius: 100px;
  border: 2px solid $color-secondary-light;
}

.about__text-box {
  padding: 1.25rem;
  font-size: 1.3rem;
  grid-column: aboutcol-start 3 / aboutcol-end 4;
  grid-row: aboutrow-fullstart/ aboutrow-fullend;
}
.about__socialrow {
  text-align: center;
  padding: 0.5rem;
}

.aboutsocial__item {
  display: inline-block;
}

.aboutsocial__link {
  margin-right: 2rem;
  & i {
    font-size: 2.5rem;
  }

  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-secondary-light;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
  }

  &:hover {
    color: white;
    background-color: $color-secondary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  }
}

// ABOUT SECTION ENDS-----------------------------------
// PORTFOLIO SECTION BEGINS-------------------------
.section-portfolio {
  //  background-color: green;
  grid-column: full-start / full-end;
  grid-row: portfolio-start/portfolio-end;
  display: grid;
  grid-template-rows: minmax(min-content, 14rem) min-content;
  grid-template-columns: minmax(0, 1fr);
  overflow: hidden;
}
.portfolio__text-box {
  padding: 1.25rem;
  z-index: 5;
}

.portfolio_linkrow,
li {
  display: inline-block;
}

.portfoliolinkbox__item {
  margin-right: 1rem;
}

.portfolio___link-box {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
}

.portfoliotext__item {
  display: inline-block;
  margin-right: 20rem;
}
// PORTFOLIO SECTION END-------------------------
// CONTACT SECTION END-------------------------
.section-contact {
  //  background-color: orange;
  grid-column: full-start / full-end;
  grid-row: contact-start/contact-end;
  display: grid;
  grid-template-rows:
    [aboutrow-fullstart] repeat(
      1,
      [aboutrow-start] minmax(min-content, 14rem) [aboutrow-end]
    )
    [aboutrow-fullend];
  grid-template-columns:
    [aboutcol-fullstart] minmax(0, 1fr) repeat(
      4,
      [aboutcol-start] minmax(min-content, 14rem) [aboutcol-end]
    )
    minmax(0, 1fr)
    [aboutcol-fullend];

  background-image: linear-gradient(to left, rgba(white, 0.3), rgba(white, 0.5)),
    url(../img/backimg8.jpg);
  background-size: cover;
}
// CONTACT SECTION END-------------------------
