.section-about {
  background-color: pink;
  grid-column: full-start / full-end;
}

.section-portfolio {
  background-color: green;
  grid-column: full-start / full-end;
}

.section-contact {
  background-color: orange;
  grid-column: full-start / full-end;
}
