.portfolio-grid__container {
  display: grid;
  /*
      We'll have at least  rows 
          Nav  / this will probably just contain a back button
          Content     10
          Footer //this will probably just contain a back to the top button
      */

  grid-template-rows:
    [nav-start]8vh[nav-end contentrows-start] repeat(
      8,
      [row-start] minmax(min-content, 20vh) [row-end]
    )
    [contentrows-end footer-start]10vh [footer-end];
  grid-template-columns:
    [full-start] minmax(0, 1fr) repeat(
      3,
      [col-start] minmax(min-content, 30vw) [col-end]
    )
    minmax(0, 1fr)
    [full-end];

  @include respond(tab-land) {
    // width < 1200?
    //
  }

  @include respond(tab-port) {
    // width < 900?
    //
  }

  @include respond(phone) {
    //
  }
}
.portfoliocontent-box {
  display: grid;
  grid-column: col-start 1 / col-end 3;
  grid-row: contentrows-start/contentrows-end;
}
.contentrow {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem;

  &__card {
    padding: 2rem;
    width: 90%;
    height: 90%;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary-dark;
    color: $color-secondary-light;
    border-radius: 2rem;
    margin-bottom: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.contentrowcard {
  &__heading {
    font-size: 2rem;
  }

  &__projectname {
    font-size: 2rem;
  }

  &__projectechlist {
    font-size: 2rem;
  }

  &__content {
    font-size: 2rem;
  }

  &__linklist {
    font-size: 2rem;
  }

  &__text-box {
    font-size: 2rem;
  }
}
