.portfolio-grid__container {
  display: grid;
  /*
      We'll have at least  rows 
          Nav  / this will probably just contain a back button
          Content     10
          Footer //this will probably just contain a back to the top button
      */

  grid-template-rows:
    [nav-start]8vh[nav-end contentrows-start] repeat(
      8,
      [row-start] minmax(min-content, 30vh) [row-end]
    )
    [contentrows-end footer-start]10vh [footer-end];
  grid-template-columns:
    [full-start] minmax(0, 1fr) repeat(
      3,
      [col-start] minmax(min-content, 30vw) [col-end]
    )
    minmax(0, 1fr)
    [full-end];
}
.portfoliocontent-box {
  display: grid;
  grid-column: full-start/full-end;
  grid-row: contentrows-start/contentrows-end;
}
.contentrow {
  display: flex;
  justify-content: center;

  &__card {
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary-dark;
    color: $color-secondary-light;
    border-radius: 2rem;
    margin-bottom: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.contentrowcard {
  &__heading {
  }

  &__projectname {
  }

  &__projectechlist {
  }

  &__content {
  }

  &__linklist {
  }

  &__text-box {
  }
}
