.portfolio-grid__container {
  display: grid;
  /*
      We'll have at least  rows 
          Nav  / this will probably just contain a back button
          Content     10
          Footer //this will probably just contain a back to the top button
      */

  grid-template-rows:
    [nav-start]80vw[nav-end contentrows-start] repeat(
      8,
      [row-start] minmax(min-content, 6vh) [row-end]
    )
    [contentrows-end footer-start]80vw [footer-end];
  grid-template-columns:
    1fr [full-start] repeat(3, [col-start] minmax(min-content, 14rem) [col-end])
    [full-end] 1fr;
}
.profilecontent-box {
  display: grid;
  grid-column: full-start/full-end;
}
.contentrow {
  display: flex;
  justify-content: center;

  &__card {
    padding: 2rem;
    width: 25vw;
    height: 35vh;
    background-color: $color-secondary-dark;
    color: $color-secondary-light;
    border-radius: 2rem;
    margin-bottom: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
