.pp-grid__container {
  display: grid;
  grid-template-rows:
    [nav-start]10vh[nav-end contentrow-start] 300vh
    [contentrows-end footer-start]20vh [footer-end];
}

.project-content {
  display: grid;
  grid-template-rows: ;
  grid-template-columns:
    [full-start] repeat(3, [col-start] minmax(min-content, 30vw) [col-end])
    [full-end];
}

.projectpanel {
  &__heading {
  }

  &__content {
  }

  &__link-box {
  }
}

.projectchallenge {
}

.projectsolution {
}

.projectoutcome {
}
